* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 86%);
}
/* color: hsl(259, 100%, 65%);
color: #ff5757;
color: hsl(0, 0%, 100%);
color: hsl(0, 0%, 94%);
color: hsl(0, 0%, 86%);
color: hsl(0, 1%, 44%);
color: hsl(0, 0%, 8%); */

.container{
    min-width: 840px;
    min-height: 650px;
    display: flex;
    flex-direction: column;    
    padding: 55px;
    border-radius: 20px 20px 200px 20px;
    background-color: hsl(0, 0%, 100%);
}

.form{
    display: flex;
    justify-content: start;
}

.data{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.data label{
        font-size: 16px;
        font-weight: 600;
        color: #716f6f;
        text-transform: uppercase;
}

.data input{
    max-width: 160px;
   
    height: 70px;
    font-size: 32px;
    font-weight: 700;
    color: hsl(0, 1%, 44%);
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    outline: 1px solid hsl(0, 1%, 44%);
    border: none;
}

.data input:focus{
    color: hsl(0, 0%, 8%);
    outline: 1px solid hsl(259, 100%, 65%);
}

.required {
    margin-top: 10px;
    font-style: italic;
    color: hsl(0, 100%, 67%);
}

.submit{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.line{
    width: 100%;
    height: 1px;
    background-color: hsl(0, 0%, 8%);
}

.btn{
    position: absolute;
    right: 0;
    width: 100px;
    height: 100px;
    padding: 25px;
    border-radius: 50%;
    border: none;
    background-color: hsl(259, 100%, 65%);
}

.btn:hover{
    background-color: hsl(0, 0%, 8%);
}

.result{
    margin-top: auto;
}
.result p{
    font-size: 100px;
    font-weight: 900;
    font-style: italic;
    color: hsl(0, 0%, 8%);
    margin-top: -32px;
}

.result span{
    color: hsl(259, 100%, 65%);
}

.invalid {
    margin-top: 10px;
    font-style: italic;
    color: hsl(0, 100%, 67%);
}

.none {
    display: none;
}

@media screen and (max-width: 900px) {
    .container{
        width: 90%;
        min-width: 375px;
        min-height: auto;
        padding: 25px;
        align-items: center;
        justify-content: center;
    }
    .form{
        justify-content: space-evenly;
    }
    .data{
        margin-right: 0;
    }
    .dataMonth{
        margin: 0 25px;
    }
    input{
        width: 100%;
    }
    input::placeholder{
        font-size: 21px;
        line-height: 70px;
    }
    .btn{
        right: calc(50% - 50px);
    }
    .submit{
        margin: 25px auto;
    }
    .result{
        margin: 25px auto;
    }
    .result p{
        font-size: calc(70px + (100 - 70) * ((100vw - 500px) / (1440 - 500)));
    }
}